:root{
  --test_color:rgb(201, 137, 137);
}

html,
body,
#app,div #app:parent {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#microAppContainer:first-child {
  width: 100%;
  height: 100%;
}

.logo{
  height: 36px;
  width: 36px;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 动画过渡 */
.base_transition{
  transition:all .3s;
}

.full{
  width: 100%;
  height: 100%;
}
